.container{
    border:1px solid purple;
   width: 350px;
   display:flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   border-radius: 8px;
   background-color: rgb(208, 228, 214);
   color: rgb(14, 59, 99);

}
.botao{
    margin-top: 10px;
    margin-bottom: 10px;
    background: none;
    border-radius: 5px;
    border-color: rgb(65, 190, 72);
}

.resultado{
color: green; font-size: 20px; font-style: arial;

}
